
.search-result[b-yzye5fhjel] {
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid silver;
    padding-top: 5px;
}

div ul[b-yzye5fhjel] {
    list-style-type: none;
}

div ul li[b-yzye5fhjel] {
    cursor: pointer;
}
